@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=DM+Mono:wght@400;500&display=swap");
@import "tailwindcss";
/* stylelint-disable-next-line at-rule-no-unknown */
@plugin "./hero.ts";
/* stylelint-disable-next-line at-rule-no-unknown */
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

:root {
  font-family: "Space Grotesk", system-ui, sans-serif;
  color: #ffffff !;
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000000;
}

code,
pre {
  font-family: "DM Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

#root {
  min-height: 100vh;
}
